.card{
    border: 1px solid;
    border-radius: 8px;
    position: relative;
}
.card img{
    width: 286px;
    border-radius: 8px;
}
.img-container{
    text-align: center;
}
.card-body{
    margin: 0px 10px;
    margin-bottom: 50px;
}
.card button{
    width: 100%;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    background-color: #FFE0B3;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
    display: block;
    margin:0 auto;
}